# Cluster donde será desplegado el proyecto
# Puede ser 'prod', 'dev' o 'lab'
# Default: dev
cluster: "dev"

# Especificar la version del chart a utilizar
chart_version: "5.0.0"

# 'group' será utilizado como el namespace de Kubernetes
# 'project' será utilizado como el nombre de recursos
group: "grupo-gitlab"
project: "proyecto"
owner: "owner"

# Deployment
deployment:
  enabled: true
  rollout: false
  # Annotations para el deployment
  annotations:
    enabled: false
    list:
    #  reloader.stakater.com/auto: "true"
    #  someother/annotation: enabled
  port: 80
  targetPort: 80
  image:
    name: "<image-registry-domain>/servicios/alpine"
    tag: "latest"
    pullPolicy: "IfNotPresent"
    # Annotations para el pod
    annotations:
      enabled: false
      list:
        #linkerd.io/inject: enabled
        #someother/annotation: enabled
  command:
    enabled: false
    command: ["/bin/bash", "-c"]
    args:
      - | 
          for i in {1..10}
          do
            echo $i
          done
  # Permite montar todas las claves de un secreto en Vault como variable de entorno
  environmentFromSecret:
    enabled: false
    secrets:
    - path: "path/in/vault"
    - path: "path/in/vault2"
    - path: "path/in/vault3"  
  # Permite montar de manera controlada las claves de un secreto en Vault 
  # que se requieran como variable de entorno
  environment:
    enabled: false
    env: []
    #- name: ENV_VAR1
    #  value: value1
    #- name: ENV_VAR2
    #  value: value2
    secrets: []
    #- name: SECRET_ENV_VAR
    #  path: "path/in/vault"
    #  key: "key-in-vault"
    #- name: SECRET_ENV_VAR2
    #  path: "path/in/vault2"
    #  key: "key-in-vault2"  
  volumes:
    enabled: false
    size: "5Gi"
    storageClassName: "nfs-csi-nas"
    accessMode: "ReadWriteMany"
    mount:
      #- point: /etc/config/somevolume 
      #- point: /opt/config
  ConfigMap:
    enabled: false
    ConfigMaps:
      - name: map1
        data: |
              #ejemplo
              comdocII.release=3.0
              # Infijo que forma parte del CUDAP, que se asignará a todos los elementos creados
              comdocII.server=UNC
              # Cantidad máxima de megabytes que se pueden subir como archivos adjuntos
              # dentro de un documento
              comdocII.max-upload=20
              # Link ofrecido para descargar lector de archivos PDF
              comdocII.downloads.visor-pdf=http://adobe.com/reader
        path: /opt/map1
        chmod: 0755
      - name: map2
        data: |
          for i in {1..10}
          do
            echo $i
          done
        path: /tmp/map2
        chmod: 0777
  resources: {} # Eliminar llaves y descomentar requests y/o limits para definir recursos
    #requests:
    #  cpu: 20m
    #  memory: 128Mi
    #limits:
    #  cpu: 100m
    #  memory: 256Mi

# HorizontalPodAutscaler
hpa:
  enabled: false
  minReplicas: 1
  maxReplicas: 4
  targetCPUUtilizationPercentage: 80

# Ingress
# Ingress
ingress:
    enabled: true
    ingressClassName: "" # IngressClassName por defecto es 'nginx'
    hosts: # Todos los hosts apuntaran al mismo servicio
    -  host: "arai-lab.com" 
        #  -
        #  -
       allowedIPs: []
        #-
        #-
        #-


# Probes
probes:
  # Habilitar para que se realicen 'probes' sobre los contenedores
  enabled: false
  # URL para verificar que la aplicación está lista para recibir tráfico
  startup:
    # Por defecto, se realiza la prueba cada 2 segundos en el path /test
    path: /test
    periodSeconds: 10
    # Si falla 5 veces seguidas, se considera que la aplicación no está lista
    failureThreshold: 5
  # URL para verificar que la aplicación sigue viva
  liveness: 
    # Por defecto, se realiza la prueba cada 30 segundos en el path /healthcheck
    path: /healthcheck
    initialDelaySeconds: 60
    failureThreshold: 5
    periodSeconds: 30

# CronJob
CronJob:
  enabled: false
  annotations:
    enabled: false
    list:
    #  reloader.stakater.com/auto: "true"
  image:
    name: "<image-registry-domain>/grupo/proyecto"
    tag: "XX"
    pullPolicy: "IfNotPresent"
  schedule: "*/5 * * * *"
  restartPolicy: "OnFailure"
  command:
    enabled: false
    command: ["/bin/bash", "-c"]
    args:
      - | 
          for i in {1..10}
          do
            echo $i
          done
  # Permite montar todas las claves de un secreto en Vault como variable de entorno
  environmentFromSecret:
    enabled: false
    secrets:
    - path: "path/in/vault"
    - path: "path/in/vault2"
    - path: "path/in/vault3"  
  # Permite montar de manera controlada las claves de un secreto en Vault 
  # que se requieran como variable de entorno
  environment:
    enabled: false
    env: []
    #- name: ENV_VAR1
    #  value: value1
    #- name: ENV_VAR2
    #  value: value2
    secrets: []
    #- name: SECRET_ENV_VAR
    #  path: "path/in/vault"
    #  key: "key-in-vault"
    #- name: SECRET_ENV_VAR2
    #  path: "path/in/vault2"
    #  key: "key-in-vault2"  
  volumes:
    enabled: false
    size: "5Gi"
    storageClassName: "nfs-csi-nas"
    accessMode: "ReadWriteMany"
    mount:
        #- point: /etc/config/somevolume 
        #- point: /opt/config
  ConfigMap:
    enabled: false
    ConfigMaps:
      - name: map1
        data: |
              #ejemplo
              comdocII.release=3.0
              # Infijo que forma parte del CUDAP, que se asignará a todos los elementos creados
              comdocII.server=UNC
              # Cantidad máxima de megabytes que se pueden subir como archivos adjuntos
              # dentro de un documento
              comdocII.max-upload=20
              # Link ofrecido para descargar lector de archivos PDF
              comdocII.downloads.visor-pdf=http://adobe.com/reader
        path: /opt/map1
        chmod: 0755
      - name: map2
        data: |
          for i in {1..10}
          do
            echo $i
          done
        path: /tmp/map2
        chmod: 0777
  resources: {} # Eliminar llaves y descomentar requests y/o limits para definir recursos
    #requests:
    #  cpu: 20m
    #  memory: 128Mi
    #limits:
    #  cpu: 100m
    #  memory: 256Mi

